body {
  margin: 0;
  padding: 0;
}

.nav nav {
  width: 100vw;
  height: 50px;
  background-color: black;
  padding: 8px;
}
.logo {
  height: 50px;
  padding: 0px 15px;
}
.logo img {
  height: 35px;
  width: auto;
}
.home {
  padding: 0px 10px;
}

.home img {
  z-index: 10;
  height: 25px;
  width: auto;
}
.home button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #201f1f;
  border: none;
}

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
}

.left {
  width: 25vw;
  background-color: #121212;
}
.right {
  width: 74vw;
}

.invert {
  filter: invert(1);
}

.search-bar {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 6px 12px;
  margin: 0px 10px 0px 10px;
  width: 330px;
  border: 2px solid transparent;
  height: 35px;
}

.search-bar img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.search-bar:hover {
  background-color: #2a2a2a;
  border: 1px solid #444;
}

.nav-btn {
  height: 45px;
  width: 76px;
  border: none;
  background-color: transparent;
  color: rgb(172, 170, 170);
  font-size: 16px;
}
.line {
  width: 2px;
  height: 35px;
  background-color: rgb(178, 175, 175);
  margin: 0px 40px 0px 20px;
}

.nav-button-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-button-2 button {
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  border: none;
  font-size: 14px;
}

.btn-transparent {
  background-color: transparent;
  color: #a7a7a7;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s, transform 0.1s;
}

.btn-transparent:hover {
  color: white;
  transform: scale(1.04);
}

.btn-white {
  background-color: white;
  color: black;
  padding: 12px 32px;
  border-radius: 50px;
  transition: transform 0.1s, background-color 0.2s;
}

.btn-white:hover {
  transform: scale(1.04);
  background-color: #f0f0f0;
}

.install-icon {
  border: 1px solid #a7a7a7;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
