body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.nav nav {
  width: 100%;
  height: 60px;
  background-color: black;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 50px;
  padding: 0px 15px;
}
.logo img {
  height: 35px;
  width: auto;
}
.home {
  padding: 0px 10px;
}

.home img {
  z-index: 10;
  height: 25px;
  width: auto;
}
.home button {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #201f1f;
  border: none;
  cursor: pointer;
}

.container {
  background-color: black;
  height: calc(100vh - 66px);
  width: 100%;
  padding-bottom: 10px;
  color: white;
}

.left {
  width: 25vw;
  background-color: #121212;
  margin: 10px;
  border-radius: 50px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.right {
  width: 74vw;
  padding: 10px;
  background-color: #1f1f1f;
  margin: 10px;
  border-radius: 30px;
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
}

.invert {
  filter: invert(1);
}

.search-bar {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 6px 12px;
  margin: 0px 10px 0px 10px;
  width: 330px;
  border: 2px solid transparent;
  height: 35px;
}

.search-bar img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.search-bar:hover {
  background-color: #2a2a2a;
  border: 1px solid #444;
}

.nav-btn {
  height: 45px;
  width: 76px;
  border: none;
  background-color: transparent;
  color: rgb(172, 170, 170);
  font-size: 16px;
  cursor: pointer;
}
.line {
  width: 2px;
  height: 35px;
  background-color: rgb(178, 175, 175);
  margin: 0px 40px 0px 20px;
}

.nav-button-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-button-2 button {
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  border: none;
  font-size: 14px;
}

.btn-transparent {
  background-color: transparent;
  color: #a7a7a7;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s, transform 0.1s;
}

.btn-transparent:hover {
  color: white;
  transform: scale(1.04);
}

.btn-white {
  background-color: white;
  color: black;
  padding: 12px 32px;
  border-radius: 50px;
  transition: transform 0.1s, background-color 0.2s;
}

.btn-white:hover {
  transform: scale(1.04);
  background-color: #f0f0f0;
}

.install-icon {
  border: 1px solid #a7a7a7;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

.nav nav {
  justify-content: space-around;
}

.your-library {
  height: 50px;
  width: 20vw;
  justify-content: space-between;
  padding: 0px 20px 30px 20px;
  align-items: center;
  background-color: #121212;
  margin: 20px;
}

.your-library button img {
  height: 20px;
  width: auto;
  z-index: 10;
}
.your-library button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.left-cards {
  height: 350px;
  width: 25vw;
}

.left-cards div {
  height: 130px;
  width: 300px;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: #201f1f;
}

.create-playlist span {
  display: block;
  padding: 5px;
  font-size: 13px;
}

.create-playlist span :first-child {
  font-size: 15px;
  font-weight: 900;
}

.create-playlist button {
  margin: 15px;
  border: none;
  border-radius: 20px;
  background-color: white;
  height: 35px;
  width: 121px;
}

.browse-product span {
  display: block;
  padding: 5px;
  font-size: 13px;
}

.browse-product span :first-child {
  font-size: 15px;
  font-weight: 900;
}

.browse-product button {
  margin: 15px;
  border: none;
  border-radius: 20px;
  background-color: white;
  height: 35px;
  width: 121px;
}

.left-footer {
  display: flex;
  font-size: 10px;
  gap: 10px;
}

.left-footer a {
  color: #a7a7a7;
}

/* right */
.card-container {
  height: 300px;
  padding: 5px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scrollbar-width: none;
}
.trending-song h2 {
  font-size: 26px;
  margin: 5px;
}

.card {
  position: relative;
  height: 250px;
  width: 175px;
  padding: 5px;
}
.playlist-img {
  height: 175px;
  width: auto;
  border-radius: 10px;
}

.card p {
  font-size: 13px;
  color: hsla(0, 5%, 89%, 0.7);
}

.play {
  position: absolute;
  right: 10px;
  bottom: 80px;
}

.play img {
  height: 30px;
  width: auto;
}

.play-bar {
  position: absolute;
  bottom: 0px;
  background-color: rgb(70, 86, 70);
  width: 95%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.song-list ul li {
  list-style: decimal;
  display: flex;
  gap: 50px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid white;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}
.song-info {
  font-size: 10px;
  width: 150px;
}

.song-list {
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.seek-bar {
  height: 3px;
  width: 95%;
  background-color: white;
  position: absolute;
  bottom: 12px;
}
.circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  bottom: 3px;
  left: 0px;
  transition: left 0.5s;
}

.volume{
  display: flex;
}
.volume img {
  width: 20px;
}

.range input{
  height: 3px;
  width: 90%;
}
